@import "tailwindcss";

@theme {
    --color-bgtransparent:rgb(3, 27, 35,.20);
    --color-border: rgba(0, 0, 0, .25);
    --color-website: #11ae68;
    --background-radial: rgba(0, 0, 0, .3);
    --background-box: rgba(0, 0, 0, .25);
    --background-button: rgba(0, 0, 0, .25);
    --color-footer: rgba(3, 27, 35,.90)
}

.bg-background {
    background-image: var(--background-radial);
}

.bg-box {
    background-color: var(--background-box);
}

.bg-button {
    background-color: var(--background-button);
}