@import "tailwindcss";

@theme {
    --color-border: rgb(124, 147, 173, 0.5);
    --background-background: linear-gradient(-5deg,
            rgba(11, 36, 64, .05) 0%,
            rgba(42, 73, 108, 1) 1%,
            rgba(11, 36, 64, .05) 70%);
    --background-box: rgb(52, 78, 113, 0.5);
    --background-button: linear-gradient(to right, rgb(0, 222, 222), rgb(0, 102, 255));
    --background-imgbg: linear-gradient(-60deg,
            rgba(11, 36, 65, 1) 0%,
            rgba(42, 73, 108, 1) 0%,
            rgba(11, 36, 64, 1) 70%);

    --background-nav: linear-gradient(5deg,
            rgba(11, 36, 64, .95) 0%,
            rgba(42, 73, 108, 1) 100%,
            rgba(11, 36, 64, .05) 100%);
}

.bg-background {
    background-image: var(--background-background);
}

.bg-box {
    background-color: var(--background-box);
}

.bg-button {
    background-image: var(--background-button);
}

.bg-imgbg {
    background-image: var(--background-imgbg);
}

.bg-nav {
    background-image: var(--background-nav);
}